body {
    font-family: "Open Sans", sans-serif;
    color: rgb(56, 197, 56);
}

h1 {
    color: #000;
    background-color: rgb(178, 196, 98);
}

img {
    height: 400px;
    text-align: middle;
}

figcaption span {
    font-size: .85em;
}

p#product-description {
    margin: 20px 0 20px 0;
    text-align: justify;
}

div.review {
    padding: 10px;
    background-color: rgb(97, 71, 189);
    margin: 20pc 0;
}
